@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Public Sans'; 
}
.box{
    max-width: 700px;
    max-height: 1000px;
    margin: 0 auto;
    width: 85%;
}
h1{
    font-size: 2.4rem ;
    font-weight: 700;
    line-height: 2.8rem;
}
.text span{
    color: red;
}
.text{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19.5rem;
}
h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-top: -5rem;
}
.text2{
    font-weight: 500;
    font-size: 1.6rem;
}
.position{
    margin-left: 3.2rem;
}
.style-and-position{
    font-size: 1.6rem;
    font-weight: 400;
    width: 40rem;
    height: 4rem;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
}
label span{
    color: red;
}
.input-postition-style{
    margin-left: 3.2rem;
    background-color: #ADADAD;
    color: #747474;
    border: 0.1rem solid black;
    opacity: 0.90;
}
.style-category{
    margin-left: 3.2rem;
}
.tel-style{
    border: .1rem solid black;
    width: 39.5rem;
}
.style-email{
    border: 0.1rem solid black;
    width: 39.5rem;
}
.app-style{
    color: #0050D8;
}
.style-date{
    border: .1rem solid black;
}
#input{
    margin-left: 3.2rem;
    width: 2.4rem;
    height: 2.4rem;
}
.pos-text{
    color: #171717;
    margin-left: 1rem;
}
.pos{
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 2.7rem;
}
#check4{
    width: 2.4rem;
    height: 2.4rem;
}
hr{
    width:208%;
    height: .1rem;
    background-color: #D1D1D1;
}
.h2{
    margin-top: 3.2rem;
    line-height: 2.4rem;
}
#check5{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}
.style-search{
    margin-left: 3.2rem;
    border: 0.1rem solid black;
}
.style-search2{
    border: 0.1rem solid black
}
.style-value{
    color: #0050D8;
}
.btn-style{
    height: 4rem;
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding: .9rem 1.6rem;
    background-color: #0050D8;
    border: none;
    color: white;
    border-radius: .4rem;
    margin-left: 76rem;
    margin-bottom: 11.9rem;
}
.btn-style:active{
    background-color: #171717;
}